* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10rem;
}

.header {
  border: 2px solid blue;
}

.books {
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add-book {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 10rem;
  height: 12rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  border: 2px solid black;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 10rem;
  height: 12rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  border: 2px solid black;
}

.delete {
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
}

.delete:hover {
  background-color: #eee;
}

#add-book-dialog {
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}

#add-book-dialog p {
  margin-bottom: 0.5rem;
}

#add-book-dialog input {
  margin-bottom: 1rem;
}

#add-book-dialog .have-read-radio {
  text-align: center;
}

input[type=radio] {
  margin-right: 0.25rem;
}

.radio-options {
  display: flex;
  justify-content: space-evenly;
}

.dialog-buttons {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
} 